// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

.login-content {
	text-align: center;
	img {
		margin-bottom: 30px;
	}
}
.card-login {
	.footer {
		padding: 0 15px;
	}
}
.login-page {
	.alert {
		z-index: 5;
		position: absolute;
		top: 50px;
		left: 10%;
		width: 80%;
	}
}

.coluna-acoes {
	display: inline-flex;
}

.logo {
	text-align: center;
}
.alert-top {
	margin-top: 72px; 
}
.form-inline {
	display: inline-block; 
}

.full-page-background {
	background-image: url('/img/poligonos.svg');
}

.btn-roxo {
	color: $roxo;
	border-color: $roxo;

	&:hover, &:active, &:focus {
		background: $roxo;
		color: $branco;
	}
}

// Overrides da sidebar
.navbar .navbar-minimize .btn {
	background: $roxo;
	border-color: $roxo;
}

.sidebar[data-active-color="purple"] .nav li.active > a,
.off-canvas-sidebar[data-active-color="purple"] .nav li.active > a {
	color: $roxo;
	opacity: 1;
}

.sidebar .sidebar-background,
.off-canvas-sidebar .sidebar-background {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}
.sidebar .sidebar-background:after,
.off-canvas-sidebar .sidebar-background:after {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background: #FFFFFF;
  opacity: .95;
}

.sidebar .nav li:not(.active) > a, .sidebar[data-background-color="white"] .nav li:not(.active) > a, .off-canvas-sidebar .nav li:not(.active) > a, .off-canvas-sidebar[data-background-color="white"] .nav li:not(.active) > a {
	color: $preto;
}
.navbar-default .navbar-brand {
	color: $cinza-dark;
}

.tooltip {
	color: $roxo;
}

.help-tooltip {
	color: $roxo;
	display:inline-block;
	width:20px;
	height:20px;
	line-height: 18px;
	text-align:center;
	vertical-align: middle;
	border: solid 1px $roxo;
	border-radius: 20px;
}

.help-tooltip:hover {
	color: $branco !important;
	background-color: $roxo !important;
}





















